body{
    background-color: #e68a7f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    text-align: center;
}
.divImg{
    padding: 20px;
}
title{
    align-content: center;
}