body {
    font-family: Arial, Helvetica, Sans-serif;
    color:black;
    background-color:lightgray;
}
h1{
    text-align:center;
}
h2{
    text-align:center;
}
h3{
    text-align:center;
}
a{
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}
fieldset {
    background-color: #eeeeee;
}
  
legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}
  




button {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


table{
    margin: 0 auto;
    table-layout: fixed;
    border-radius: 5px;
    border-collapse: collapse;
    width: 250px;
    padding: 5px;
    border-radius: 20px;
    background-color: #def;
    border: 1;
    align-content: center;
    
    font-size   : 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    width:auto;
} 
 td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
   th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
  

input {
    width: 250px;
    padding: 5px;
    border-radius: 50px;
    background-color: #def;
    border: 1;
    align-content: center;
    font-family : inherit;
    font-size   : 100%;
}
div{
    text-align:center;
}
